@using GadgetHub.WebUI.HtmlHelpers

@model GadgetHub.WebUI.Models.GadgetsListViewModel

@{
    ViewBag.Title = "Gadgets";
}

@foreach (var g in Model.Gadgets)
{
    @Html.Partial("GadgetSummary", g)  
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
