<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GadgetHub.Domain.Properties.Settings.SportsStoreConnectionString"
            connectionString="Data Source=EMGAMINGHUB\SQLEXPRESS;Initial Catalog=SportsStore;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="GadgetHub.Domain.Properties.Settings.ConnectionString"
            connectionString="Data Source=EMGAMINGHUB\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>